{% load static %}

<html lang="ja">
<head>
    <link rel="stylesheet" href="{% static 'css/login.css' %}"/>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap" rel="stylesheet">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>ログイン</title>
</head>
<body>
    <div class="login-container">
        <h2>ログイン</h2>
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="username">メールアドレス*</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="form-group">
                <label for="password">パスワード*</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div class="keep-group">
                <input type="checkbox" id="remember_me" name="remember_me"><label for="remember_me">ログイン状態を保持する</label>
            </div>
            <button type="submit" class="login-button">ログイン</button>
        </form>
    </div>
</body>
</html>