{% extends "QAS/base.html" %}

{% block title %}新規登録{% endblock %}

{% block content %}

{% load static %}

<h1>新規登録</h1>
<div class="container">
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="button">登録</button>
    </form>
    {% if form.errors %}
    <ul>
        {% for field in form %}
            {% for error in field.errors %}
                <li>{{ error }}</li>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <li>{{ error }}</li>
        {% endfor %}
    </ul>
    {% endif %}
</div>
{% endblock %}
