{% load static %}

<!DOCTYPE html>
<html lang="ja">
<head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
</head>
<body>
    <div class="success-container">
        <div class="success-header">
            <h1>アンケート</h1>
        </div>
        <div class="success-message">
            <p>Google上で具体的な内容をお聞かせください。</p>
            <p>数秒後、自動的にGoogleビジネスプロフィールのレビュー画面に遷移します。</p>
        </div>
        <button class="success-button" onclick="window.location.href='{{ store_address|safe }}'">Google投稿フォームへ</button>
    </div>
    <script>
        setTimeout(function() {
            window.location.href = '{{ store_address|safe }}';
        }, 3000);  // 3秒後にフィードバックページにリダイレクト
    </script>
</body>
</html>
