{% extends "QAS/base.html" %}

{% block title %}設定ページ{% endblock %}

{% block content %}

{% load static %}

<h1>レビュー内容の設定</h1>
<div class="container">
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="question_title">レビューアンケートタイトル (全角35文字以内)</label>
            <input type="text" id="question_title" name="question_title" maxlength="35" class="form-control" value="{{ form.instance.question_title }}">
        </div>
        <div class="form-group">
            <label>選択項目の表示文字、アンケート後の遷移先設定</label>
            <div class="option-group">
                <input type="text" class="form-control inline" name="very_satisfied_label" value="{{ form.instance.very_satisfied_label }}">
                <select name="very_satisfied_redirect_url" class="form-control inline">
                    <option value="google_review" {% if form.instance.very_satisfied_redirect_url == "google_review" %}selected{% endif %}>Googleレビューへ遷移</option>
                    <option value="app_review" {% if form.instance.very_satisfied_redirect_url == "app_review" %}selected{% endif %}>質問ページに遷移</option>
                </select>
            </div>
            <div class="option-group">
                <input type="text" class="form-control inline" name="satisfied_label" value="{{ form.instance.satisfied_label }}">
                <select name="satisfied_redirect_url" class="form-control inline">
                    <option value="google_review" {% if form.instance.satisfied_redirect_url == "google_review" %}selected{% endif %}>Googleレビューへ遷移</option>
                    <option value="app_review" {% if form.instance.satisfied_redirect_url == "app_review" %}selected{% endif %}>質問ページに遷移</option>
                </select>
            </div>
            <div class="option-group">
                <input type="text" class="form-control inline" name="neutral_label" value="{{ form.instance.neutral_label }}">
                <select name="neutral_redirect_url" class="form-control inline">
                    <option value="google_review" {% if form.instance.neutral_redirect_url == "google_review" %}selected{% endif %}>Googleレビューへ遷移</option>
                    <option value="app_review" {% if form.instance.neutral_redirect_url == "app_review" %}selected{% endif %}>質問ページに遷移</option>
                </select>
            </div>
            <div class="option-group">
                <input type="text" class="form-control inline" name="dissatisfied_label" value="{{ form.instance.dissatisfied_label }}">
                <select name="dissatisfied_redirect_url" class="form-control inline">
                    <option value="google_review" {% if form.instance.dissatisfied_redirect_url == "google_review" %}selected{% endif %}>Googleレビューへ遷移</option>
                    <option value="app_review" {% if form.instance.dissatisfied_redirect_url == "app_review" %}selected{% endif %}>質問ページに遷移</option>
                </select>
            </div>
            <div class="option-group">
                <input type="text" class="form-control inline" name="very_dissatisfied_label" value="{{ form.instance.very_dissatisfied_label }}">
                <select name="very_dissatisfied_redirect_url" class="form-control inline">
                    <option value="google_review" {% if form.instance.very_dissatisfied_redirect_url == "google_review" %}selected{% endif %}>Googleレビューへ遷移</option>
                    <option value="app_review" {% if form.instance.very_dissatisfied_redirect_url == "app_review" %}selected{% endif %}>質問ページに遷移</option>
                </select>
            </div>
        </div>
        <button type="submit" class="button">保存</button>
    </form>
    {% if messages %}
    <div id="message-container">
        {% for message in messages %}
            <div class="message {{ message.tags }}">{{ message }}</div>
        {% endfor %}
    </div>
    {% endif %}

    {% if form.errors %}
        <div class="form-errors">
            <h3>フォームエラー</h3>
            {{ form.errors }}
        </div>
    {% endif %}
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var messageContainer = document.getElementById('message-container');
        if (messageContainer) {
            setTimeout(function () {
                messageContainer.style.display = 'none';
            }, 3000); // 3秒後にメッセージを非表示にする
        }
    });
</script>
{% endblock %}
